<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order</title>
</head>
<body>
    <p>Size: {{size}}</p>
    <p>Toppings: {{toppings}}</p>
    <p>Gluten-Free Crust: {{glutenFree}}</p>
    <p>Special Instructions: {{instructions}}</p>
    <p>Price: {{price}}</p>

    <a href="/build_your_own">Build Another</a><a href="/">Go Home</a>

</body>
</html>